altgraph
beautifulsoup4
certifi
charset-normalizer
contourpy
cycler
fonttools
idna
kiwisolver
Markdown
matplotlib
numpy
packaging
pillow
psutil
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
requests
setuptools
six
soupsieve
typing_extensions
urllib3
