:root {
	--container-paddding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
}

* {
	user-select: none;
}

body {
	padding: 0 var(--container-paddding);
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: bottom left;
	overflow: hidden;
	/* Hide scrollbars */
}

#foreground {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: bottom left;
}

ol,
ul {
	padding-left: var(--container-paddding);
}

body>*,
form>* {
	margin-block-start: var(--input-margin-vertical);
	margin-block-end: var(--input-margin-vertical);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

button {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	width: 100%;
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

button:focus {
	outline-color: var(--vscode-focusBorder);
}

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type='checkbox']),
textarea {
	display: block;
	width: 100%;
	border: none;
	font-family: var(--vscode-font-family);
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
	outline-color: var(--vscode-input-border);
	background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
	color: var(--vscode-input-placeholderForeground);
}

#pokemonCanvas {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
}

img.pokemon {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	position: absolute;
	image-rendering: pixelated;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
}

.collision {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999;
}

.bubble {
	image-rendering: pixelated;
	position: absolute;
	text-align: center;
	margin: auto;
	opacity: 0;
	animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(50%) translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateX(50%) translateY(0);
	}
}

.bubble-nano {
	width: 15px;
}

.bubble-small {
	width: 22.5px;
}

.bubble-medium {
	width: 30px;
}

.bubble-large {
	width: 37.5px;
}

/* Manually adjust the size teh bubble on 64x64px pokemon. Quick fix for now, TODO */
.bubble-nano.b-64 {
	margin-left: 15px;
}

.bubble-small.b-64 {
	margin-left: 22.5px;
}

.bubble-medium.b-64 {
	margin-left: 30px;
}


.bubble-large.b-64 {
	margin-left: 37.5px;
}